version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.14
    steps:
      - checkout   
      - run:
          name: Install dependencies
          command: pip install requests
      - run:
          name: Run unit tests
          command: python -m unittest discover
